body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
.gallery img {
    max-width: 200px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s;
}
.gallery img:hover {
    transform: scale(1.1);
}

/* スマホ表示の調整 */
@media screen and (max-width: 600px) {
    .gallery img {
        max-width: 100px; /* 画像サイズを小さくする */
    }
}

/* ライトモード用スタイル */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
.toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* ダークモード用スタイル */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
body.dark-mode .toggle-button {
    background-color: #444444;
    color: #ffffff;
}
